@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  src: url('../fonts/JosefinSans.woff2') format('woff2');
}

:root {
  --bgoffsetx: 0;
  --bgoffsety: 0;
}

body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans;
  cursor: none;
  font-weight: normal;
  pointer-events: none;
}

a,
h1,
h2,
h3,
p,
button,
label {
  pointer-events: all;
  width: fit-content;
}

button {
  border: 1.5px solid #fff;
  border-radius: 3em;
  padding: min(1vh, 2vw) min(3vh, 6vw);
  background-color: transparent;
  outline: none;
  transition: background-color 0.1s ease-out;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(3vh, 6vw);
    font-weight: 300;
    color: #fff;

    img {
      height: 1em;
      margin-right: min(2vh, 4vw);
    }
  }

  &.hover,
  &:focus,
  &:active {
    border: 1.5px solid #0000;
    background-color: #2e2933cc;
  }
}
